
<div class="container">
   
    <br>
    <br>
    
    <footer>
<hr style="color: cornsilk;">

<h4 class="text-lg-center" style="color:grey">Copyright <i class="fas fa-copyright"></i> Xizmatlar litsenziyalanmagan 2021</h4>
        
    </footer>
</div>
