
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> my <i class="fas fa-money-check-alt"></i><br>Expenses</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><span class="btn btn-outline-info fw-bolder font-monospace"><i class="fas fa-bars"></i></span>&nbsp;</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            &nbsp;<a class="nav-link" href="/dashboard"><i class="fas fa-home large"></i> BOSH SAHIFA</a>
          </li>
          <li class="nav-item">
            &nbsp;<a class="nav-link" href="/expenses/create"><i class="fas fa-folder-plus"></i> QO'SHISH</a>
          </li>
          <li class="nav-item">
            &nbsp;<a class="nav-link" href="/expenses/getAll"><i class="fas fa-list-alt"></i> XARIDLAR</a>
          </li>
        </ul>
        
          <form action="/register" method="get" class="d-flex">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button type="submit" class="btn btn-outline-info me-md-2 mt-2" type="button"><i class="fas fa-sign-in-alt"></i>&nbsp; RO'YHATDAN O'TISH</button>
              </div>
          </form>
        
          <form action="/login" method="get" class="d-flex">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
                  <button type="submit" class="btn btn-outline-info me-md-2" type="button"><i class="fas fa-user-plus large"></i>&nbsp; KIRISH</button>
              </div>
          </form>
      </div>
    </div>
  </nav>
    