<%- include('./partials/nav.ejs') %>

<div class="container">
    <a href="/logout" class="btn btn-outline-danger" style="float: right;"><i class="fas fa-sign-out-alt"></i> Log out</a>
<%- include('partials/messages') %>
 

<p><h1 class="text-lg-center text-info fw-bolder font-monospace mt-5">O'z Xaridlaringizni Hisoblab Boring</h1></p>


<p><h3 style=" text-align: center;" class="text-center text-light fw-bolder font-monospace"> Bu yerda siz kundalik va doimiy xarajatlaringizni kiritib boring, istalgan vaqtda xarajat haqida to'liq ma'lumot olishingiz, o'zgartirishingiz, hamda ro'yxatdan olib tashlashingiz mumkin </h3></p>

</div>

      

<div class="container" style="width: 50%;">
   

<%- include('./partials/footer.ejs') %>

</div>